


<head>
    <%- include('./partials/head') %>  
    </head>
    
    <body>
        <%- include('./partials/header') %>


<table class="table mt-5">
    <thead>
        <tr>
            
            <th>Nombre del Producto</th>
            <th>Ver</th>
            <th>Editar</th>
            <th>Borrar</th>
        </tr>
    </thead>
    
    
    
    
    
   
   
    
    </body>