<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<%- include('./partials/head') %>  
</head>

<body>
	<!-- Header -->
	<%- include('./partials/header')%> 

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->

				<form action="/users/store" method="POST" class="formulario"> 
					<div class="NombreYApellido">
						<input type="text" class="form-control" placeholder="Nombre y Apellido" name="nombre" id="nombre">

					</div>
					<div>
						<input type="email" class="form-control" placeholder="Email" name="email" id="email">

					</div>
					<div>

						<input type="password" class="form-control" placeholder="contraseña" name="password" id='password'>

					</div>	
					<div>
						<input type="date" class="form-control" placeholder="Fecha de nacimiento" name="nacimiento" id="nacimiento">

					</div>
					<div> <input type="number" class= "form-control" placeholder="numero" name="numero" id="numero"></div>
					<div>
						<!--<script>
							function alerta(){
								alert("¡Felicidades, te registraste exitosamente!");
							}
						</script>-->
						
							<input class="btn btn btn-info" type="submit"  value="Registrarse">
						
					</div>

				</form>
		</div>
	</div>	
			
	<!-- footer -->
	<%- include('./partials/footer')%>
	
	<!-- /footer -->
</body>

</html>